/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/public/css
/public/js
app/Http/Middleware/HasCourse.php
