// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// VARIABLE OVERRIDES GO HERE

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// Bootswatch
@import 'bootswatch';

// CUSTOM CSS

#search-input {
  display: flex;

  i {
    position: relative;
    z-index: 2;
  }

  input {
    width: 100%;
    margin-left: 6px;

    &:focus {
      outline: none;
    }
  }
}

#userMenu {
  img {
    width: 50%;
  }
}