// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// VARIABLE OVERRIDES GO HERE

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// Bootswatch
@import 'bootswatch';

// CUSTOM CSS

#search-input {
  display: flex;

  i {
    position: relative;
    z-index: 2;
  }

  input {
    width: 100%;
    margin-left: 6px;

    &:focus {
      outline: none;
    }
  }
}

#navUserMenu {
  display: block;

  #navUserMenuInfo {
    padding: 0.25rem 1.5rem;
    img {
      width: 75px;
      height: 75px;
    }
  }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #navUserMenu {
    display: none;

    &.show {
      display: block;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}